<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page <%=4 + 5 + 1 %></h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
        Ipsa labore ipsum illum id cum veritatis iste exercitationem quo ullam, 
        assumenda ipsam aut tenetur, 
        voluptatibus est deleniti sunt quis et voluptas.</p>

</body>
</html>